.carousel-noticias-container {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
  max-height: 450px;
  overflow: hidden;
  border-radius: 10px;
}

.carousel-img {
  object-fit: cover;
  height: 450px;
  filter: brightness(0.8);
}

.carousel-caption-custom {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 10px;
}
