*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main{
  background-color: gray;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}